
.top-bar {
	position:fixed; 
	width:100%;
	z-index: 10;
}

.project,
.milestone {
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 0.9375rem !important;
	margin-left: -0.9375rem !important;
	margin-right: -0.9375rem !important;
}

.main-content {
	position:relative;
	top:45px;
}

.bg {
	width:100%;
	position:fixed;
	top:-50%;
	left:-50%;
	min-width:200%;
	min-height:200%;
	overflow: hidden;
}

#footer {
	z-index:92384023840234344802 !important;
	position:fixed !important;
	left:0 !important;
	width:100% !important;
	min-width:100% !important;
	opacity:0.8;
}

#pictures .example-orbit {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	min-width:50%;
	min-height:50%;
}

.top-bar a.button {
	height:1.8rem;
}

.outlined {
	border:1px solid #d8d8d8;
}

#MyProjects,
#ProjectMilestones {
	padding-top:0;
}

.wide {
	width:100% !important;
	min-width:100% !important;
	max-width:100% !important;
}


.tabbar {
	position:fixed;
	top: 45px;
	z-index:1;
	height:1000000px;
	background-color:#EFEFEF;
	padding-top:5rem;
	padding-left:0 !important;
	padding-right:0 !important;
	overflow: hidden;
}

.tabbar * {
	width:100% !important;
	max-width:100% !important;
	min-width:100% !important;
}

ul {
	list-style-type: none;
}
h2 {
	height:.5rem;
}
