#projContainer1, #projContainer2, #taskContainer, #mileContainer {
	min-width: 310px; 
	max-width: 800px;
	height: 400px;
	margin: 0 auto;
}

#taskContainer  {
	height: 500px;
}

h1{
	text-align: center;
}