Package: henry
Version: 0.01
Architecture: all
Maintainer: Adam Michael <michaea1@rose-hulman.edu>
Installed-Size: 2
Depends: python-appindicator
Section: extras
Priority: optional
Homepage: https://github.com/RHITJuniorProjects/JrProj-1415-Mike
Description: Henry - The project requirements tracker you never thought you needed.
